# Desafio Python e SQL

### Read com pd.read_sql

In [1]:
import pandas as pd
import sqlite3

conexao = sqlite3.connect("chinook.db")

tabela_clientes = pd.read_sql("SELECT * FROM")