# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e o preço dos nossos produtos é vinculado a cotação de:
- Dólar
- Euro
- Ouro

Precisamos pegar na internet, de forma automática, a cotação desses 3 itens e saber quanto devemos cobrar pelos nossos produtos, considerando uma margem de contribuição que temos na nossa base de dados.

Base de Dados: https://drive.google.com/drive/folders/1KmAdo593nD8J9QBaZxPOG1yxHZua4Rtv?usp=sharing

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [7]:
#!pip install selenium

In [8]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

driver = webdriver.Chrome()
driver.maximize_window()
driver.get("https://www.google.com.br/")

search_box = driver.find_element('xpath',
  '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
search_box.send_keys("cotação dolar")
search_box.send_keys(Keys.RETURN)

cotacao_dolar = driver.find_element('xpath',
                                   '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_dolar)

#cotação do euro
driver.get("https://www.google.com.br/")

search_box = driver.find_element('xpath',
  '/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
search_box.send_keys("cotação euro")
search_box.send_keys(Keys.RETURN)

cotacao_euro = driver.find_element('xpath',
                                   '//*[@id="knowledge-currency__updatable-data-column"]/div[1]/div[2]/span[1]').get_attribute('data-value')

print(cotacao_euro)


#cotação ouro
driver.get("https://www.melhorcambio.com/ouro-hoje")
cotacao_ouro = driver.find_element('xpath',
                                   '//*[@id="comercial"]').get_attribute('value')

cotacao_ouro = cotacao_ouro.replace(',','.')
print(cotacao_ouro)


driver.quit()

1.35685
1.4727999999999999
306.57

### Agora vamos atualiza a nossa base de preços com as novas cotações

- Importando a base de dados

In [9]:
import pandas as pd

tabela  = pd.read_excel('Produtos.xlsx')
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,5,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,6,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,5,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,5,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,6,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,5,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,350,7000.00,1.15,8050.000

- Atualizando os preços e o cálculo do Preço Final

In [10]:
#Atualizar coluna cotação
# editar a coluna cotação, onde a coluna moeda = dolar

#tabela.loc[linha, coluna]
tabela.loc[tabela['Moeda']=='Dólar', 'Cotação'] = float(cotacao_dolar)
tabela.loc[tabela['Moeda']=='Euro', 'Cotação'] = float(cotacao_euro)
tabela.loc[tabela['Moeda']=='Ouro', 'Cotação'] = float(cotacao_ouro)
display(tabela)

# Atualizar coluna de preço de compra = preço original * cotaçao

tabela['Preço de Compra'] = tabela['Preço Original'] *  tabela['Cotação']
display(tabela)


# Atualizar coluna de preço de venda = preço de compra * margem
tabela['Preço de Venda'] = tabela['Preço de Compra'] *  tabela['Margem']
display(tabela)

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,1.35685,4999.95,1.40,6999.930
1,Carro Renault,4500.00,Euro,1.47280,27000.00,2.00,54000.000
2,Notebook Dell,899.99,Dólar,1.35685,4499.95,1.70,7649.915
3,IPhone,799.00,Dólar,1.35685,3995.00,1.70,6791.500
4,Carro Fiat,3000.00,Euro,1.47280,18000.00,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,1.35685,2402.40,2.00,4804.800
6,Joia 20g,20.00,Ouro,306.57000,7000.00,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,1.35685,1356.836431,1.40,6999.930
1,Carro Renault,4500.00,Euro,1.47280,6627.600000,2.00,54000.000
2,Notebook Dell,899.99,Dólar,1.35685,1221.151431,1.70,7649.915
3,IPhone,799.00,Dólar,1.35685,1084.123150,1.70,6791.500
4,Carro Fiat,3000.00,Euro,1.47280,4418.400000,1.90,34200.000
5,Celular Xiaomi,480.48,Dólar,1.35685,651.939288,2.00,4804.800
6,Joia 20g,20.00,Ouro,306.57000,6131.400000,1.15,8050.000

,Produtos,Preço Original,Moeda,Cotação,Preço de Compra,Margem,Preço de Venda
0,Câmera Canon,999.99,Dólar,1.35685,1356.836431,1.40,1899.571004
1,Carro Renault,4500.00,Euro,1.47280,6627.600000,2.00,13255.200000
2,Notebook Dell,899.99,Dólar,1.35685,1221.151431,1.70,2075.957434
3,IPhone,799.00,Dólar,1.35685,1084.123150,1.70,1843.009355
4,Carro Fiat,3000.00,Euro,1.47280,4418.400000,1.90,8394.960000
5,Celular Xiaomi,480.48,Dólar,1.35685,651.939288,2.00,1303.878576
6,Joia 20g,20.00,Ouro,306.57000,6131.400000,1.15,7051.110000

### Agora vamos exportar a nova base de preços atualizada

In [11]:
tabela.to_excel('Produtos Novo.xlsx', index=False)